[submodule "src_plugins/sd1111_plugin"]
	path = src_plugins/sd1111_plugin
	url = ../sd1111_plugin.git
[submodule "src_core/classes"]
	path = src_core/classes
	url = ../core-lib.git
[submodule "src_plugins/disco_party"]
	path = src_plugins/disco_party
	url = ../disco-party.git
