[submodule "src_plugins/sd1111_plugin"]
	path = src_plugins/sd1111_plugin
	url = git@github.com:discore/sd1111_plugin.git
[submodule "src_core/classes"]
	path = src_core/classes
	url = https://github.com/discore/core-lib
