__pycache__
*.ckpt
*.pth
/ESRGAN/*
/SwinIR/*
/venv
/tmp
/model.ckpt
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/sessions
/config.json
/log
/webui.settings.bat
/plug-res/plug-models
/plug-res/plug-embeddings
/plug-repos
/styles.csv
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
