torch
torchvision
diffusers
# fairscale
# fonts
# font-roboto
numpy==1.23.5
omegaconf
piexif
Pillow
pytorch_lightning
scikit-image
timm
einops
# jsonmerge
clean-fid
resize-right
torchdiffeq
kornia
lark
flask
flask-socketio
bunch
# waitress
click
click-shell
# terminal-img
yachalk
munch
tqdm
setuptools
scipy
clip
# PyYAML
# packaging
requests
# lpips
gdown
# facexlib
opencv-python
py-jsonic
beeprint
art
gevent
gevent-websocket
websocket-client
python-socketio
transformers==4.19.2
# fire
# pydub
# stumpy
python-dateutil
opensimplex
# torchsde
# xformers==0.13.0
psutil
paramiko